doctype
html
    head
        meta(charset="UTF-8")
        title Coffee UP
        link(rel="stylesheet", href="assets/css/bootstrap.min.css")
        link(rel="stylesheet", href="assets/css/main.css")
        link(rel="stylesheet", href="assets/css/font-awesome.css")
        link(rel="stylesheet", href="assets/css/elegant.css")
        link(rel="stylesheet", href="assets/css/hover.css")
        //-fonts by Google-Apis
        link(href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css')
    body
        //-mixins
        mixin data-team(nombre,profesion)
            h3=nombre
            h4=profesion
            
        //-body
        section#navigation
            div.container-fluid
                div.row
                    nav.navbar
                        div.container
                            div.navbar-header
                                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                                    span.sr-only Toggle navigation
                                    span.icon-bar
                                    span.icon-bar 
                                    span.icon-bar
                                a.navbar-brand(href='index.html') 
                                    img(src="assets/img/LogoFinal.jpg", alt="logo")
                            div#bs-example-navbar-collapse-1.collapse.navbar-collapse
                                ul.nav.navbar-nav.navbar-right
                                    li 
                                        a(href='#hero-image') COFFEE UP! 
                                    li
                                        a(href='#about') ABOUT
                                    li
                                        a(href='#ourteam') OUR TEAM
                                    li
                                        a(href='#contact') CONTACT US
        section#hero-image 
            div.container-fluid
                div.row
                    h1 COFFEE UP
                    h3 need more coffee?
        section#about
            div.container
                div.row 
                    div.col-md-6 
                        div.portada
                            img.img-responsive(src="assets/img/portada.jpg", alt="portada")
                    div.col-md-6
                        div.about
                            h2 ¿QUE ES?
                            h3 Métete a la carrera más emocionante mientras consigues café para mantenerte despierto! 
                             br 
                             |Coffee Up es un juego móvil para Android y puedes descargarlo gratis. Disfrútalo! 
        section#ourteam
            div.container
                div.row
                    div.title
                        h2 NOSOTROS
                div.row
                    //-modificar en resposive con media queries para que sea col-md-12 cuando se hace responsive
                    div.image-ceo
                        img.img-responsive(src="assets/img/juan jose.jpg")
                        +data-team('JUAN JOSE MEJIA','Fundador & CEO - Game Designer & Web Developer')
                div.row 
                    div.col-md-3.image
                        img.img-responsive(src="assets/img/ale.jpg", alt="team")
                    div.col-md-3.data-team-up 
                        +data-team('ALEJANDRA VARGAS','Graphic Designer')
                    div.col-md-3.image
                        img.img-responsive(src="assets/img/reina.jpg", alt="team")
                    div.col-md-3.data-team-up
                        +data-team('REINA TORREJON','Front-end Developer')
                div.row 
                    div.col-md-3.data-team-down
                        +data-team('JOSHUA NO SE SU APELLIDO','Back-end Developer')
                    div.col-md-3.image
                        img.img-responsive(src="assets/img/coffee.jpg", alt="team")
                    div.col-md-3.data-team-down
                        +data-team('PA ALGUIEN MAS SI SE UNE','jksdhjakshd')
                    div.col-md-3.image
                        img.img-responsive(src="assets/img/coffee.jpg", alt="team")
        footer
            div.container
                div.row
                    h4 Copyright © Coffee Up Team 
                     br
                     span 
                      |("Mentor's Choice" Startup Weekend - Industrias Creativas 2016)

                    



                                        
                   